.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrap-container {
    width: 500px;
    box-shadow: 0 3px 5px 0 rgba(163, 157, 157, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    padding: 50px;
}

.title {
    text-align: center;
}